{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>I2MC - Learn Computing With Us...</title>
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link rel="icon" href="https://raw.githubusercontent.com/zainulhassan794/itomc/main/web/static/logo/MC.png">
  <link rel="stylesheet" href="{% static 'css/video-js.min.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'logo/MC.png' %}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        I2MC
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <ul class="nav nav-underline">
  <li class="nav-item" >
    <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" aria-current="page" href="{% url 'home' %}" style="color: #000;">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.url_name == '' %}active{% endif %}" href="{% url 'home' %}#free-tuto" style="color: #000;">Free Tutorials</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.url_name == '' %}active{% endif %}" href="{% url 'home' %}#about" style="color: #000;">About Us</a>
  </li>

  {% if user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.url_name == 'paid_courses' %}active{% endif %}" href="{% url 'paid_courses' %}" style="color: #000;">Courses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.url_name == 'logout' %}active{% endif %}" href="{% url 'logout' %}" style="color: #000;">Logout</a>
  </li>

  {% else %}
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.url_name == 'login' %}active{% endif %}" href="{% url 'login' %}" style="color: #000;">Login</a>
  </li>

  {% endif %}


</ul>
    </div>
  </nav>
  <!-- Navbar End -->


{% block content %}

{% endblock %}


<!-- Footer Section Start -->
  <footer class="bg-light text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">

        <!-- Facebook -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="#" role="button"><i class="fab fa-facebook-f"></i></a>

        <!-- YouTube -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #CD201F;" href="https://www.youtube.com/@introtomc/" role="button"><i class="fa-brands fa-youtube"></i></a>

        <!-- Instagram -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #962fbf ;" href="#" role="button"><i class="fa-brands fa-instagram"></i></a>

        <!-- TikTok -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #FE2C55;" href="#" role="button"><i class="fa-brands fa-tiktok"></i></a>

        <!-- Github -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #333333;" href="#" role="button"><i class="fab fa-github"></i></a>


      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #b2b2b2;">
      © 2023 <a class="text-white" href="{% url 'home' %}">I2MC</a> All Rights Received.
      
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer Section End -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

<script src="{% static 'js/video.min.js' %}"></script>

<script src="{% static 'js/Youtube.min.js' %}"></script>

</body>

</html>
